table {
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 100%;
    button{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        &.voted{
            color: greenyellow;
        }
    }
    input{
        width: 100%;
    }
  }
  
  table, th, td {
    border: 1px solid black;
    position: relative;
  }
  td,th{
    width: 25%;
  }
.green{
    background: greenyellow;
}